<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
             xmlns:mvc="http://www.springframework.org/schema/mvc"
             xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

<!--    Helps us to enable @Controller annotation across application-->
    <annotation-driven/>

    <context:component-scan base-package="org.springMVC"/>
    <beans:bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <beans:property name="prefix" value="/WEB-INF/views/"/>
        <beans:property name="suffix" value=".jsp"/>
    </beans:bean>

    <!-- Database Configuration: mySQL -->
    <beans:bean name="dataSource" class="org.apache.commons.dbcp.BasicDataSource" >
        <beans:property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <beans:property name="url" value="jdbc:mysql://localhost:3306/inventory_vendor" />
        <beans:property name="username" value="root" />
        <beans:property name="password" value="Troyguy2123!" />
    </beans:bean>

    <beans:bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <beans:property name="dataSource" ref="dataSource"/>
        <beans:property name="hibernateProperties">
            <beans:props>
                <beans:prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</beans:prop>
                <beans:prop key="hibernate.hbm2ddl.auto">update</beans:prop>
                <beans:prop key="hibernate.show_sql">true</beans:prop>
            </beans:props>
        </beans:property>
        <beans:property name="packagesToScan" value="org.springMVC.entity"/> <!-- Adjust package as needed -->
    </beans:bean>

    <!-- JPA Configuration -->
<!--    <beans:bean id="entityManagerFactory"-->
<!--          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">-->
<!--        <beans:property name="dataSource" ref="dataSource"/>-->
<!--        <beans:property name="packagesToScan" value="org.springMVC.entity"/>-->
<!--        <beans:property name="jpaVendorAdapter">-->
<!--            <beans:bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>-->
<!--        </beans:property>-->
<!--        <beans:property name="jpaProperties">-->
<!--            <beans:props>-->
<!--                <beans:prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</beans:prop>-->
<!--                <beans:prop key="hibernate.hbm2ddl.auto">update</beans:prop> &lt;!&ndash; for schema auto-updating &ndash;&gt;-->
<!--                <beans:prop key="hibernate.show_sql">true</beans:prop> &lt;!&ndash; optional &ndash;&gt;-->
<!--                <beans:prop key="hibernate.format_sql">true</beans:prop> &lt;!&ndash; optional &ndash;&gt;-->
<!--            </beans:props>-->
<!--        </beans:property>-->
<!--    </beans:bean>-->

    <beans:bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <beans:property name="sessionFactory" ref="sessionFactory"/>
    </beans:bean>

<!--    <beans:bean id="transactionManager"-->
<!--          class="org.springframework.orm.jpa.JpaTransactionManager">-->
<!--        <beans:property name="entityManagerFactory" ref="entityManagerFactory"/>-->
<!--    </beans:bean>-->

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <beans:bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <beans:property name="maxUploadSize" value="5000000"/> <!-- Set max file size -->
    </beans:bean>


<!--    <beans:bean id="inventoryService" class="org.springMVC.service.InventoryService" />-->
    <beans:bean name="inventoryController" class="org.springMVC.controller.InventoryController">
        <beans:constructor-arg ref="inventoryService"/>
    </beans:bean>

    <beans:bean name="adminController" class="org.springMVC.controller.AdminController">
        <beans:constructor-arg ref="userService"/>
    </beans:bean>

    <beans:bean name="userController" class="org.springMVC.controller.UserController">
        <beans:constructor-arg ref="userService"/>
    </beans:bean>

    <beans:bean name="vendorController" class="org.springMVC.controller.VendorController">
        <beans:constructor-arg ref="vendorService"/>
    </beans:bean>


    <beans:bean name="userDAO" class="org.springMVC.dao.UserDAOImpl">
        <beans:constructor-arg ref="sessionFactory"/>
    </beans:bean>

    <beans:bean name="executionAuditCheckDAO" class="org.springMVC.dao.ExecutionAuditCheckDAOImpl">
        <beans:constructor-arg ref="sessionFactory"/>
    </beans:bean>

    <beans:bean name="inventoryCategoryDAO" class="org.springMVC.dao.InventoryCategoryDAOImpl">
        <beans:constructor-arg ref="sessionFactory"/>
    </beans:bean>

    <beans:bean name="inventoryDAO" class="org.springMVC.dao.InventoryDAOImpl">
        <beans:constructor-arg ref="sessionFactory"/>
    </beans:bean>

    <beans:bean name="userLoginAuditDAO" class="org.springMVC.dao.UserLoginAuditDAOImpl">
        <beans:constructor-arg ref="sessionFactory"/>
    </beans:bean>

    <beans:bean name="studDAO" class="org.springMVC.dao.StudDAOImpl">
        <beans:constructor-arg ref="sessionFactory"/>
    </beans:bean>



</beans:beans>
<!--    <beans:bean name="inventoryDAO" class = "org.springMVC.dao.InventoryDAOImpl">-->
<!--        <beans:constructor-arg  ref="hibernateSessionFactory"/>-->
<!--    </beans:bean>-->
<!--    <beans:bean name="inventoryCategoryDAO" class = "org.springMVC.dao.InventoryCategoryDAOImpl">-->
<!--        <beans:constructor-arg ref="hibernateSessionFactory"/>-->
<!--    </beans:bean>-->
    <!--create beans for all DAOs-->

        <!--Configure Spring Transaction manager-->



